################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PIS/.vs/PIS
/PIS/.vs
/PIS/obj
